<div class="bg-black h-auto flex justify-center items-center text-white font-body">
    <div class="px-2 md:px-0 md:w-3/4 grid grid-cols-1 md:grid-cols-6 mb-10">
      <div class="col-span-2 mb-5 md:mb-0 sticky top-10 self-start">
        <p class="text-slate-400 font-bold mb-10">
          <i class="text-sm mr-3 fa-regular fa-circle"></i>SERVICES
        </p>
        <h1 class="font-bold text-5xl mb-6 md:mb-0">
          What I <span class="word-art">Do</span>
        </h1>
      </div>
  
      <div class="col-span-4 flex flex-col md:gap-5 max-h-[80vh] overflow-y-auto">
        <div class="service-card" *ngFor="let service of services">
          <p class="text-4xl font-bold opacity-20 word-art">{{service.number}}</p>
          <p class="text-3xl font-semibold">{{service.skill}}</p>
          <p class="text-slate-400 font-light">
            {{service.highlight}}
          </p>
        </div>
      </div>
    </div>
  </div>