<div class="bg-navbar  text-white p-10 font-body fixed w-full z-10">
    <div class="flex flex-row justify-evenly items-center">
        <div>
            <img src="" alt="">
            <p class="font-bold tracking-widest text-3xl font-logo">FRANK</p>
        </div>

        <nav>
            <ul class="flex flex-row gap-10">
                <li><a class="nav-hover" href="#about">About Me</a></li>
                <li><a class="nav-hover" href="#experience">Experience</a></li>
                <li><a class="nav-hover" href="#skills">Skills</a></li>
                <li><a class="nav-hover" href="#achievements">Achievements</a></li>
            </ul>
        </nav>

        <a class="btn tracking-widest" href="#contact">LET'S TALK</a>
    </div>
</div>
