<div class="min-h-screen bg-black flex justify-center items-center font-body text-white">

    <div class="md:w-3/4 bg-primary p-2 md:p-20 rounded-lg mx-1 md:mx-0 md:m-20 ">

        <div class="w-full">
            <div class="mb-5 md:ml-16">
                <p class="text-slate-400 font-bold mb-10"><i class="text-sm mr-3 fa-regular fa-circle"></i>WORK</p>
                <h1 class="text-5xl font-bold ">Work <span class="word-art">Experience</span></h1>
            </div>
    
            <div class="flex flex-col items-center justify-center">
                <div class="experience-card" *ngFor="let experience of experience">
                    <div class="flex items-center mb-4">
                      <div class="flex-grow">
                        <h3 class="text-xl font-bold text-white">{{ experience.position }}</h3>
                        <p class="text-gray-300">{{ experience.company }} | {{ experience.duration }}</p>
                      </div>
                    </div>
                    
                    <div class="work-details">
                      <h4 class="text-md font-semibold text-white mb-2">Key Responsibilities</h4>
                      <ul class="list-disc list-inside text-gray-400 space-y-2 font-light">
                        <li *ngFor="let responsibility of experience.responsibilities">
                          {{ responsibility }}
                        </li>
                      </ul>
                      
                   
                    </div>
                  </div>
            </div>
        </div>

    </div>

</div>