 <div class="w-full overflow-hidden" id="">
    <app-navbar></app-navbar>
</div>

 <div class="w-full overflow-hidden" id="home">
    <app-home></app-home>
</div>


 <div class="w-full overflow-hidden" id="about">
    <app-about></app-about>
</div>


 <div class="w-full overflow-hidden" id="work">
    <app-work></app-work>
</div>

 <div class="w-full overflow-hidden" id="consult">
    <app-consult></app-consult>
</div>

<div class="w-full overflow-hidden" id="achievement">
    <app-achievement></app-achievement>
</div>


 <div class="w-full overflow-hidden" id="testimony">
    <app-testimony></app-testimony>
</div>

<div class="w-full overflow-hidden" id="testimony">
    <app-gallery></app-gallery>
</div>

 <div class="w-full overflow-hidden" id="contact">
    <app-contact></app-contact>
</div>