@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fredoka:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fredoka:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Tangerine:wght@400;700&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fredoka:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Tilt+Prism&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  


.bg-navbar {
    @apply text-ellipsis;
}
.btn {
    @apply rounded-full bg-[#2c1640] p-4 font-semibold transition-all duration-1000 ease-in-out border-2 border-[#4c1f75];
}

.btn:hover {
    @apply bg-gradient-to-r from-[#4c1f75] to-[#2c1640] ;
}

.nav-hover {
    @apply cursor-pointer relative py-1 after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-slate-300 after:transition-all after:duration-300 hover:after:w-full;
}

.word-art {
    @apply relative inline-block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(9deg, #ff82f3, #7b13ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shimmer 2s infinite;
}

.socials {
    @apply rounded-full bg-zinc-900 text-white p-9 transition-all duration-300;
}

.socials:hover {
    @apply bg-gradient-to-r from-[#4c1f75] to-[#2c1640];
}

.service-card {
    @apply bg-zinc-900 p-2 md:p-10 flex flex-col md:flex-row gap-4 md:gap-16 rounded-lg rounded-b-none border-b-4 border-[#58228a] my-2 transition-all duration-700 ease-in-out;
}

.service-card:hover {
    @apply bg-gradient-to-r from-[#4c1f75] to-[#2c1640] -translate-y-2 md:-translate-y-5 border-none;
}

.consult-card {
    @apply bg-zinc-900 p-2 md:p-10 flex flex-col gap-4 md:gap-10 rounded-lg rounded-b-none border-b-4 border-[#58228a] my-2 transition-all duration-700 ease-in-out;
}

.tags {
    @apply bg-zinc-900 border absolute p-1 font-bold text-xs md:text-sm flex flex-col gap-4 md:gap-10 rounded-lg ;
}

.skill-slider {
    @apply text-2xl font-bold text-white;
}

.input-form {
    @apply p-2 rounded-xl text-white bg-zinc-800 border border-[#4c1f75];
}

.experience-card {
    @apply bg-black shadow-lg rounded-lg p-6 mb-4 hover:shadow-xl transition-shadow duration-300 w-full;
}

.testimony-card {
    @apply bg-zinc-900 p-2 md:p-4 text-center relative rounded-lg mt-8 md:mt-0;
}

.achieve-card {
    @apply bg-transparent relative p-8 h-full border border-zinc-800/50  transition-all duration-500 hover:-translate-y-2 flex flex-col;
}
